<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 读取配置文件 -->
	<!--<context:property-placeholder/>标签会配置
		org.springframework.beans.factory.config.PropertyPlaceholderConfigurer bean -->
	<!-- <context:property-placeholder location="classpath:config/jdbc.properties" /> -->

	<!-- 在 spring-beans.jar中 -->
	<!-- 等效于 <context:property-placeholder/>-->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config/jdbc.properties"></property>
	</bean>

	<!-- 引入其他配置文件 -->
	<!-- 不引入springmvc的配置文件 -->
	<import resource="spring-dao.xml"/>
	<import resource="spring-service.xml"/>
</beans>
